html, body {
	position: relative;
	height: 90%;
}

td {
	display: block;
}

.logo {
	margin-top: 15px;
	margin-left: 200px;
}

.logo img {
	margin-top: 5px;
}

.box-image {
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #DDD;
	margin: 5px;
}

.box-image img {
	opacity: 1;
	margin: 10px;
	height: 110px;
	width: 230px;
}

.box-image img:HOVER {
	opacity: 0.5;
}

.cabecalho {
	position: relative;
	height: 120px;
	background-color: #EFEFEF;
}

.rodape {
	position: relative;
	height: 300px;
	background-color: #F67D19;
	margin-top: 30px;
}

.principal {
	margin-left: 200px;
	margin-top: 30px;
	margin-right: 200px;
	border-radius: 10px;
	border: 1px solid #DDD;
	position: relative;
	
}

.centro {
	position: relative;
	padding: 10px;
}

.div-centro {
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	padding: 10px;
}

.titulo {
	color: #E57310;
}

.subtitulo {
	color: #646261;
}

.texto {
	color: #838383;
}

ul li {
	color: #838383;
}

